Flask
flask-cors
python-dotenv==1.0.0
pandas
pandasai
tabulate
langchain_community
langchain_core
langchain_groq
langchain_ollama
langchain_openai
langchain_mistralai
langchain-google-genai==2.1.7
langchain_pinecone
langchain_postgres
langchain_anthropic
langchain_text_splitters
cryptography
numpy==1.26.4
scikit-learn
seaborn
pinecone
psycopg==3.2.6
psycopg_binary==3.2.6
gunicorn
pymupdf4llm
bcrypt
